<div class="collapse" id="navbarToggleExternalContent">
    <div class="row bg-dark p-5">
        <div class="col">
            <div class="btn btn-primary d-flex justify-content-center"[routerLink]="['/emails']">
                <h5 class="text-white h4">Emails</h5>
            </div>
        </div>
            <div class="col">
                <div class="btn btn-primary d-flex justify-content-center"[routerLink]="['/produtos']">
                    <h5 class="text-white h4">Produtos</h5>
                </div>
            </div>
            <div class="col">
                <div class="btn btn-primary d-flex justify-content-center"[routerLink]="['/cadastrar-produtos']">
                    <h5 class="text-white h4">Cadastrar Produtos</h5>
                </div>
            </div>
    
</div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>